html{
    font-family: 'Open Sans', sans-serif;
}

.head-bar{
    text-align: center;
    background-color: #333;
    color: #ffff;
    padding: 20px;
}

.head-bar-line{
    background-color: #ffa500;
    height: 6px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

h1{
    padding: 20px 0;
    font-size: 45px;
}

.head-bar{
    text-transform: capitalize;
    font: bold 25px 'Open Sans', sans-serif;
}